<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Admin DashBoard</title>
    <style>
        table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black; /* table outer border */
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid black; /* THIS IS IMPORTANT */
}

        th {
            background-color: #f2f2f2;
        }

        button {
            padding: 5px 10px;
            cursor: pointer;
        }


    .active-btn {
        background-color: #4CAF50;
        color: white;
        border: none;
    }

    </style>
</head>
<body>

  <h2 style="text-align:center;">Admin Home Page</h2>

  <div style="display:flex; justify-content:center; gap:20px; margin:20px;">

      <!-- Total Products -->
      <div style="
        width:130px;
        padding:15px;
        background:gray;
        color:white;
        text-align:center;
        border-radius:10px;
        font-size:16px;
        font-weight:bold;">

          📊 Total Products <br>

          <span th:text="${totalProducts}"></span>

      </div>

      <!-- Total Users -->
      <div style="
        width:130px;
        padding:15px;
        background:teal;
        color:white;
        text-align:center;
        border-radius:10px;
        font-size:16px;
        font-weight:bold;">

          👤 Total Users <br>

          <span th:text="${totalUsers}"></span>

      </div>

      <div style="
    width:130px;
    padding:15px;
    background:purple;
    color:white;
    text-align:center;
    border-radius:10px;
    font-size:16px;
    font-weight:bold;">

          📂 Total Categories <br>

          <span th:text="${totalCategories}"></span>

      </div>

      <!-- Highest Price Product -->
      <div style="
    width:130px;
    padding:15px;
    background:orange;
    color:white;
    text-align:center;
    border-radius:10px;
    font-size:16px;
    font-weight:bold;">

          💰 Highest Price <br>

          <span th:text="${highestPrice}"></span>

      </div>

  </div>

  <div style="text-align:center; margin-bottom:20px;">
     <button id="productBtn" onclick="showProducts()">Show Products</button>
      <button id="userBtn" onclick="showUsers()">Show Users</button>
  </div>

   <div id="productSection" style="display:block;">
  <h2 style="text-align:center;">List Of Products</h2>
    <table  border="1" style="width:100%; border-collapse: collapse;">
   <tr>
     <th>Prduct Name</th>
     <th>Product Price</th>
       <th>Category Name</th>
       <th>User Name</th>
     <th>Action</th>
   </tr>

  <tr th:each="p:${list}">
    <td th:text="${p.productName}"></td>
    <td th:text="${p.productPrice}"></td>
      <td th:text="${p.categoryName}"></td>
      <td th:text="${p.username}"></td>
    <td>
        <div style="display: flex; gap: 10px; justify-content: center;">
            <button type="button"
                    th:onclick="showAdminUpdateForm([[${p.productId}]],
             [[${p.productName}]],
             [[${p.productPrice}]],
             [[${p.categoryId}]],
             [[${currentPage}]])">
                Update
            </button>
      <form th:action="@{/product/delete/{id}/{page}(id=${p.productId},page=${currentPage})}" method="post">
        <button type="submit">Delete</button>
      </form>
        </div>
    </td>

  </tr>
    </table>
      </div>

    <br><br>


  <div id="userSection" style="display:none;">
  <h2  style="text-align:center;">List Of Users</h2>
      <table border="1" style="margin:auto;">
      <tr>
          <th>User Name</th>
          <th>User Role</th>
          <th>Action</th>
      </tr>

      <tr th:each="p:${users}">
          <td th:text="${p.username}"></td>
          <td th:text="${#strings.listJoin(p.role, ', ')}"></td>
          <td>
              <div style="display: flex; gap: 10px; justify-content: center;">
              <form th:action="@{/User/showUpdateUser/{uid}(uid=${p.uid})}" >
                  <button type="submit">Update</button>
              </form>
              <form th:action="@{/User/delete/{uid}(uid=${p.uid})}" method="post">
                  <button type="submit">Delete</button>
              </form>
              </div>
          </td>

      </tr>
  </table>
  </div>

  <div id="adminUpdateForm"
       style="display:none; width:300px; margin:auto; margin-top:20px;
     border:1px solid gray; padding:20px; border-radius:10px;">

      <h3 align="center">Update Product</h3>

      <form id="adminForm" method="post">

          <input type="hidden" name="productId" id="aId">

          <label style="display:block; margin-top:10px;">Product Name</label>
          <input type="text" name="productName" id="aName"
                 style="width:100%; padding:8px;">

          <label style="display:block; margin-top:10px;">Product Price</label>
          <input type="number" name="productPrice" id="aPrice"
                 style="width:100%; padding:8px;">

          <label style="display:block; margin-top:10px;">Category</label>
          <select name="category.categoryId" id="aCategory"
                  style="width:100%; padding:8px;">

              <option th:each="c:${categories}"
                      th:value="${c.categoryId}"
                      th:text="${c.categoryName}">
              </option>

          </select>

          <button type="submit"
                  style="width:100%; margin-top:15px; padding:8px;">
              Update
          </button>

      </form>
  </div>


  <div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li th:if="${currentPage !=0}" class="page-item">
                <a th:href="@{'/admin/getAllProducts/'+${currentPage-1}}"class="page-link" href="#">Previous</a>
            </li>

            <!--Spring pagination starts from 0.-->
            <li th:classappend="${currentPage==i-1?'active':''}" th:each="i:${#numbers.sequence(1,totalPages)}"class="page-item">
                <a th:href="@{'/admin/getAllProducts/'+${i-1}}"class="page-link" href="#"><span th:text="${i}"></span></a>
            </li>

            <!--currentPage is URL number-->
            <li th:if="${currentPage+1 !=totalPages}"class="page-item">
                <a th:href="@{'/admin/getAllProducts/'+${currentPage+1}}"class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>

  <script>

      function showUsers() {
          document.getElementById("productSection").style.display = "block";
          document.getElementById("userSection").style.display = "block";

          // active button
          document.getElementById("userBtn").classList.add("active-btn");
          document.getElementById("productBtn").classList.remove("active-btn");
      }

      function showProducts() {
          document.getElementById("productSection").style.display = "block";
          document.getElementById("userSection").style.display = "none";

          // active button
          document.getElementById("productBtn").classList.add("active-btn");
          document.getElementById("userBtn").classList.remove("active-btn");
      }



function showAdminUpdateForm(id,name,price,categoryId,page)
{
    document.getElementById("adminUpdateForm").style.display = "block";

    document.getElementById("aId").value = id;
    document.getElementById("aName").value = name;
    document.getElementById("aPrice").value = price;
    document.getElementById("aCategory").value = categoryId;

    document.getElementById("adminForm").action =
        "/product/update/" + id + "/" + page;
}



      // default active button
      window.onload = function () {
          document.getElementById("productBtn").classList.add("active-btn");
          document.getElementById("userSection").style.display = "none"; // ensure hidden
      };

  </script>
</body>

</html>